<div class="container">
  <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
  </div>
  <form #userForm = "ngForm"  (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" required class="form-control " #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched" id="name" placeholder="name" name="name"  [(ngModel)]="userModel.name">
              <!-- message d'erreur à afficher lorsque le champ name n'est pas valide -->
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
      </div>

      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" required class="form-control" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        [class.is-invalid]="email.invalid  && email.touched " id="inputEmail4" placeholder="Email" name="email" [(ngModel)]="userModel.email" >
        <div *ngIf="email.errors &&(email.valid ||email.untouched)">
          <!-- message d'erreur spécifique à afficher lorsque le champ email est vide  -->
        <small class="text-danger" *ngIf="email.errors.required">l'email est obigatoire </small>
                      <!-- message d'erreur spécifique à afficher lorsque lemail est incorrect -->
        <small class="text-danger" *ngIf="email.errors.pattern">l'email est incorrect</small>
    </div>
      </div>
      
    </div>

    <div class="form-group">
      <label for="tel">Phone</label>
      <input required type="tel" class="form-control" #phone="ngModel" 
      [class.is-invalid]="phone.invalid && phone.touched" pattern="^\d{8}$" id="tel" placeholder="phone" name="phone"  [(ngModel)]="userModel.phone">
      <!--<small class="text-danger" [class.d-none]="phone.valid || phone.untouched">le numero est obigatoire et doit etre de 8 chiffres</small>-->
      <!--les messages d'erreurs à afficher lorsque le champ phone n'est pas valide -->
      <div *ngIf="phone.errors &&(phone.valid || phone.untouched)">
              <!-- message d'erreur spécifique à afficher lorsque le champ phone est vide  -->
        <small class="text-danger" *ngIf="phone.errors.required">le numero est obigatoire </small>
                      <!-- message d'erreur spécifique à afficher lorsque le nombre de chiffre du phone est différent de 8  -->
        <small class="text-danger" *ngIf="phone.errors.pattern">le numero doit etre de 8 chiffres</small>
      </div>
    </div>
   
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="timePreference" id="timePreference1" value="Morning"  [(ngModel)]="userModel.timepreference">
          <label class="form-check-label" for="timePreference1">Morning</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="timePreference" id="timePreference2" value="Evening" [(ngModel)]="userModel.timepreference">
          <label class="form-check-label" for="timePreference2">Evening</label>
        </div>
       </div>
      <div class="form-group col-md-6">
        <!--pour le champ select la gestion d'ereure rencontreras une erreure si jamais elle fait appelle a une Api car 
        la valeur par default d'une APIes 'default' contrairement au notre qui est text vide alors dans se cas il faut 
      proceder à une gestion manuelle au niveau du course.invalid en le remplacant par un boolean ici ona utliser la variable courseHasErro -->
        <select (blur)="validateCourse(course.value) " (change)="validateCourse(course.value)"  id="inputState" #course="ngModel" [class.is-invalid]="courseHasError && course.touched" class="form-control" name="Course"  [(ngModel)]="userModel.course">
          <option value="default">Choose course</option>
          <option *ngFor="let course of courses">{{ course }}</option>
        </select>
              <small class="text-danger" [class.d-none]="!courseHasError || course.untouched">vous devez choisir un cour</small>
        </div>
    </div>

    <div class="form-check mb-3 ">
      <input class="form-check-input" type="checkbox" id="Checkbox" value="" name="subscribe"  [(ngModel)]="userModel.subscribe">
      <label class="form-check-label" for="Checkbox">Send me promotion offert</label>
    </div>
    
    <button [disabled]="userForm.form.invalid || courseHasError" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>